.Rproj.user
.Rhistory
.RData
.Ruserdata
code.Rproj
Descartado
__pycache__

# Data files 
data/*
*.png
*.html
!data/datasets_metadata.json
!data/health_professionals_metadata.json
!data/tags.json
!data/COD_2012_edited.csv
